<div class="background-modal-image"
     [ngClass]="modalService.hide ? 'd-none': 'd-block'">
  <div id="responsive-modal" class="modal fade show animated fadeInDown fast" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Load image</h4>
          <button type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-hidden="true"
                  (click)="closeModal()">×
          </button>
        </div>
        <div class="modal-body">
          <h3>Select an image</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-danger waves-effect waves-light">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>