<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">New Doctor</h4>
        <h6 class="card-subtitle">Doctor information</h6>
        <form class="form-horizontal p-t-20"
              [formGroup]="doctorForm"
              (submit)="addDoctor()">
          <div *ngIf="doctorSelected" class="form-group row">
            <label for="doctorName" class="col-sm-3 control-label">Photo</label>
            <div class="col-sm-9">
              <div class="text-center">
                <img class="w140 img-fluid" [src]="doctorSelected.image | imagePipe:'doctor'" alt="">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="doctorName" class="col-sm-3 control-label">Doctor</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input type="text"
                       formControlName="name"
                       class="form-control"
                       id="doctorName"
                       placeholder="Doctor name">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="hospitalName" class="col-sm-3 control-label">Hospital</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-hospital-o"></i></div>
                <select class="form-control"
                        id="hospitalName"
                        formControlName="hospital">
                  <option value=""> Select a hospital...</option>
                  <option *ngFor="let hospitalItem of hospitals"
                          [value]="hospitalItem.id">
                          {{hospitalItem.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <button type="button"
                  class="btn btn-secondary waves-effect waves-light m-r-10"
                  (click)="goToBack()"
                  >
            <i class="fa fa-chevron-left"></i>
            Back
          </button>
          <button type="submit"
          [disabled]="doctorForm.invalid"
          class="btn btn-success waves-effect waves-light m-r-10"
          >
    <i class="fa fa-save"></i>
    Save
  </button>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="selectedHospital" class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospital</h4>
        <h6 class="card-subtitle">{{selectedHospital.name}}</h6>
          <figure class="text-center">
            <img class="img-fluid img-thumbnail" [src]="selectedHospital.image | imagePipe:'hospital'" alt="">
          </figure>
      </div>
    </div>
  </div>
</div>