<div class="row">
    <div class="col-lg-6 col-12">
        <app-dona title="Ventas"></app-dona>
    </div>
    <div class="col-lg-6 col-12">
        <app-dona 
            title="Compras"
            [labels]="labels1"
            [data]="data1">
        </app-dona>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-12">
        <app-dona title="Pedidos">

        </app-dona>
    </div>
    <div class="col-lg-6 col-12">
        <app-dona title="Devoluciones">
        </app-dona>
    </div>
</div>