<div *ngIf="users.length === 0" class="alert alert-info animated fadeIn slow">
  <!-- <h4 class="alert-heading">No users</h4> -->
  <p></p>
  <p class="mb-0">No users found</p>
</div>

<div *ngIf="doctors.length === 0" class="alert alert-info animated fadeIn slow">
  <!-- <h4 class="alert-heading">No Doctors</h4> -->
  <p></p>
  <p class="mb-0">No doctors found</p>
</div>

<div *ngIf="hospitals.length === 0" class="alert alert-info animated fadeIn slow">
  <!-- <h4 class="alert-heading">No Hospitals</h4> -->
  <p></p>
  <p class="mb-0">No hospitals found</p>
</div>

<div class="row animated fadeIn">
  <div *ngIf="users.length > 0" class="col">
    <div class="card">
      <div class="card-body">
        <h3>Users</h3>
          <div class="table-responsive">
            <table class="table table-hover table-sm full-color-table full-purple-table color-bordered-table purple-bordered-table">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users"
                    class="animated slideInLeft slow">
                  <td>
                    <img class="img-fluid w100"
                       [src]="user.image | imagePipe: 'usuario' " [alt]="user.name">
                  </td>
                  <td>{{user.name}}</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
  <div *ngIf="doctors.length > 0" class="col">
    <div class="card">
      <div class="card-body">
        <h3>Doctors</h3>
          <div class="table-responsive">
            <table class="table table-hover table-sm full-color-table full-success-table color-bordered-table success-bordered-table">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let doctor of doctors"
                    class="animated slideInLeft slow"
                    >
                  <td>
                    <img class="img-fluid w100"
                       [src]="doctor.image | imagePipe: 'doctor' " [alt]="doctor.name">
                  </td>
                  <td>
                    <a [routerLink]="['/dashboard/doctors/','doctor.id']">{{doctor.name}}</a>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
      </div>
    </div>
  </div>
  <div *ngIf="hospitals.length > 0" class="col">
    <div class="card">
      <div class="card-body">
        <h3>Hospitals</h3>
          <div class="table-responsive">
            <table class="table table-hover table-sm full-color-table full-red-table color-bordered-table red-bordered-table">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let hospital of hospitals"
                    class="animated slideInLeft slow">
                  <td>
                    <img class="img-fluid w100"
                       [src]="hospital.image | imagePipe: 'hospital' " [alt]="hospital.name"></td>
                  <td>{{hospital.name}}</td>
                </tr>
              </tbody>
            </table>

          </div>
      </div>
    </div>
  </div>
</div>